[Unit]
Description=Add Flathub flatpak repositories. This replaces a service included by Fedora that normally installs their repo.
ConditionPathExists=!/var/lib/flatpak/.flatpak-horizonos-initialized
Before=flatpak-system-helper.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --system --if-not-exists flathub /etc/flatpak/remotes.d/flathub.flatpakrepo
ExecStart=/usr/bin/flatpak flatpak remote-delete fedora
ExecStart=/usr/bin/flatpak flatpak remote-delete fedora-testing
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flatpak-horizonos-initialized

[Install]
WantedBy=multi-user.target