[Unit]
Description=Setup HorizonOS after installation or update
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/horizon-setup-system

[Install]
WantedBy=multi-user.target
