[Unit]
Description=Automatic system update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/horizon-update
StandardOutput=journal
StandardError=journal
Nice=19
IOSchedulingClass=idle
TimeoutSec=1200
