[Unit]
Description=Enable horizon-setup user service for existing users
After=basic.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/horizon-setup-system

[Install]
WantedBy=basic.target
