
[Unit]
Description=Setup HorizonOS user aliases, completions and shell enhancements
After=plasma-workspace.target
Wants=plasma-workspace.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/horizon-setup-user
RemainAfterExit=true

[Install]
WantedBy=plasma-workspace.target