[Desktop Entry]
Type=Link
Name=LibreOffice Text Document…
Comment=Enter file name:
URL=.source/Text Document.odt
Icon=org.libreoffice.LibreOffice.writer
