[Desktop Entry]
Type=Link
Name=LibreOffice Presentation…
Comment=Enter file name:
URL=.source/Presentation.odp
Icon=org.libreoffice.LibreOffice.impress
